:root{
--bg-color:#f4f4f4;
--text-color:#333;
--card-color:#fff;
--header-color:#007bff;
--button-color:#0066ff;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:var(--bg-color);
color:var(--text-color);
}

header{
background:var(--header-color);
padding:20px;
}

nav ul{
display:flex;
justify-content:center;
gap:20px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
font-size:18px;
}

main{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}

section{
background:var(--card-color);
padding:20px;
border-radius:10px;
box-shadow:0px 2px 5px gray;
}

form{
display:flex;
flex-direction:column;
gap:10px;
}

input,
textarea{
padding:10px;
}

button{
background:var(--button-color);
padding:10px;
color:white;
border:none;
cursor:pointer;
}

footer{
background:#333;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}

@media(max-width:768px){

main{
grid-template-columns:1fr;
}

nav ul{
flex-direction:column;
text-align:center;
}

}
